<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="sx__button sx_button_floated to-left" ui-sref="user-profile.tracks">View all</button>
        <h3 class="h3_title">
            <i class="mdi mdi-bookmark-music mdi-36px mdi-sx-orange" aria-hidden="true"></i>
            <span style="display: inline-flex;vertical-align: text-top;margin-top: -8px;" class="titles">{{user.login}}'S TRACKS</span>
        </h3>
        <div ng-repeat="songDTO in tracksUser track by songDTO.song.id" class="track-wrapper" style="background-image: url({{songDTO.song.artwork}});">
            <div class="track-container">
                <h5 style="cursor: pointer;text-align: center;"
                    ui-sref="song.detail({accessUrl: songDTO.song.access_url,user: songDTO.song.user.login, id: songDTO.song.id})">
                    <div class="blur">
                        <div class="background" style="background-image: url({{songDTO.song.artwork}});"></div>
                    </div>
                    <span>{{songDTO.song.name}}</span>
                </h5>
                <button class="sx__button sx_button_player" ng-if="playerPlaylist.getSongId(mediaPlayer.currentTrack) == songDTO.song.id && playerPlaylist.playlistCurrent == 'fromTracks'+user.login"
                        ng-click="mediaPlayer.playPause()">
                    <i ng-if="!mediaPlayer.playing" class="mdi mdi-play mdi-24px"></i>
                    <i ng-if="mediaPlayer.playing" class="mdi mdi-pause mdi-24px"></i>
                </button>
                <button class="sx__button sx_button_player" ng-if="playerPlaylist.getSongId(mediaPlayer.currentTrack) != songDTO.song.id || playerPlaylist.playlistCurrent != 'fromTracks'+user.login"
                        ng-click="playerPlaylist.addSongAll(tracksUser,mediaPlayer,$index,'fromTracks'+user.login)">
                    <i class="mdi mdi-play mdi-24px"></i>
                </button>
                <div class="stats">
                    <h5 style="padding: 4px; cursor: pointer; display: inline-block;width: auto;">
                        <div class="blur" style="z-index: 1;">
                            <div class="background" style="background-image: url({{songDTO.song.artwork}});"></div>
                        </div>
                                <span style="outline: 0;z-index: 2;position: relative;color: #ff6533;padding-right: 5px;" ng-if="$index == 0">
                                    Newest
                                </span>
                                <span style="outline: 0;z-index: 2;position: relative;color: #ff6533;padding-right: 5px;" >
                                    <i class="mdi mdi-play"></i>&nbsp; {{songDTO.plays}}</span>
                                <span style="outline: 0;z-index: 2;position: relative;color: #ff6533;padding-right: 5px;"
                                      ng-style="{color : ((songDTO.liked) && '#ff6533') || '#fff'}"
                                      ng-click="like(songDTO.song.id)">
                                    <i class="fa fa-heart-o"></i>&nbsp; {{songDTO.totalLikes}}
                                </span>
                                <span style="outline: 0;z-index: 2;position: relative;color: #ff6533;padding-right: 5px;"
                                      ng-style="{color : ((songDTO.shared) && '#ff6533') || '#fff'}"
                                      ng-click="share(songDTO.song.id)">
                                    <i class="fa fa-retweet"></i>&nbsp; {{songDTO.totalShares}}
                                </span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
