iframe{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border: 1px solid transparent;
}
body{margin: 0;height: 100%;border: 1px solid #f50;}
*{
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
#player_content *{
    vertical-align: top;

}
#player_content{
    background: #f3f3f3;
//height: 198px;
    height: calc(100% - 3px);
    box-shadow: 0px 2px 2px 2px #fe6c3d;
}

#player_data .player_artist,#player_data .player_creator, #player_data .player_title{
    display: block;
}

#player_data{
    max-width: 67%;
    width: auto;
    display: inline-block;
    height: auto;
    margin-top: 3%;
}

#player_image{
    max-height: 90px;
    position: relative;
    max-width: 90px;
    display: inline-block;
    width: auto;
    height: 100%;
}

#player_image img.ng-enter{
    transition:0.5s linear all;
    opacity:0;
}

#player_image img.ng-enter-active {
    opacity:1;
}

#player_image img{
    width: 100%;
    height: 100%;
}

#player_data .player_title{
    color: #ff4c00;
    font-size: 14px;

    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
#player_data .player_artist,#player_data .player_creator{
    color: #303030;
    font-size: 13px;
}
audio{
    display: block;
}
.player_controls_button{
    outline: none;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    width: 50px;
    background: transparent;
    border: 1px solid rgba(255, 93, 41, 0.9);
}

.icon-player{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    cursor: pointer;
}

.icon-player:before{
    text-align: center;
    display: block;
    height: 100%;
    line-height: 1.15;
    color: rgba(255, 93, 41, 0.9);
}


.icon-player.ng-hide {
    opacity: 0;
}

.icon-player.ng-hide-add{
    opacity: 0;
}
.icon-player.ng-hide-remove {
    opacity: 1;
}
