<div class="row" ng-cloak>
    <div class="col-md-12" infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page"
         infinite-scroll-distance='2' infinite-scroll-container="'#content'">
        <h3 class="h3_title">
            <i class="mdi mdi-playlist-play mdi-36px mdi-sx-orange" aria-hidden="true"></i>
            <span class="titles"
                  style="display: inline-flex;vertical-align: text-top;margin-top: -8px;">YOUR PLAYLISTS</span>
        </h3>
        <button ui-sref="library.lists.new" class="sx__button sx__button__primary sx_button_floated ">
            <i class="fa fa-plus"></i>&nbsp;&nbsp;New playlist
        </button>
        <div class="clear"></div>
        <div class="no-playlists" style="height: 50vh;" ng-show="playlists.length == 0">
            <div style="flex: 1; align-self: center;text-align: center;">
                <h3 class="h3_title"><span style="display: inline-flex;vertical-align: text-top;" class="titles">You don't have any playlist created.</span></h3><br>
                <button class="sx__button" style="font-size: 15px;" ui-sref="library.lists.new">
                    <i style="font-size: 24px;" class="mdi mdi-playlist-plus"></i>
                    <span style="vertical-align: top; line-height: 1.8;">Create new playlist</span>
                </button>
            </div>
        </div>
        <div ng-repeat="playlistDTO in playlists track by playlistDTO.playlist.id" ng-show="playlists.length > 0"  class="allList">
            <div context-menu="menuOptions" class="firstImages" style="background-color: black;"
                 ui-sref="playlist.detail({id: playlistDTO.playlist.id})">
                <div class="blur">
                    <div ng-if="playlistDTO.playlist.artwork == null" class="background"
                         style="background-image: url({{playlistDTO.playlist.songs[0].artwork}});"></div>
                    <div ng-if="playlistDTO.playlist.artwork != null" class="background"
                         style="background-image: url({{playlistDTO.playlist.artwork}});"></div>
                </div>
                <div ng-if="playlistDTO.playlist.artwork == null">
                    <img ng-src="{{playlistDTO.playlist.songs[1].artwork}}"
                         ng-if="playlistDTO.playlist.songs.length >= 2" img-preload class="secondArt" alt="">
                    <img ng-src="{{playlistDTO.playlist.songs[2].artwork}}"
                         ng-if="playlistDTO.playlist.songs.length >= 3" img-preload class="thirdArt" alt="">
                    <img ng-src="{{playlistDTO.playlist.songs[0].artwork}}"
                         ng-if="playlistDTO.playlist.songs.length >= 1" img-preload class="firstArt" alt="">
                </div>
                <div ng-if="playlistDTO.playlist.artwork != null">
                    <img ng-src="{{playlistDTO.playlist.songs[0].artwork}}"
                         ng-if="playlistDTO.playlist.songs.length >= 1" img-preload class="secondArt" alt="">
                    <img ng-src="{{playlistDTO.playlist.songs[1].artwork}}"
                         ng-if="playlistDTO.playlist.songs.length >= 2" img-preload class="thirdArt" alt="">
                    <img ng-src="{{playlistDTO.playlist.artwork}}" img-preload class="firstArt" alt="">
                </div>
                <div class="infoList">
                    <p style="font-size: 17px;"><b>{{playlistDTO.playlist.name}}</b></p>
                    <p style="font-size: 11px;">{{playlistDTO.playlist.songs.length}} {{playlistDTO.playlist.songs.length < 2 ? 'TRACK' : 'TRACKS'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .h3_title {
        display: inline-block;
    }
</style>
